PHOTO_DROP_DB_USERNAME: DB username
PHOTO_DROP_DB_PASSWORD: any strong password
PHOTO_DROP_DB_ENDPOINT: photodrop-dev-photodropdb-********.********.us-east-1.rds.amazonaws.com
PHOTO_DROP_DB_PORT: 3306
PHOTO_DROP_DB_NAME: PhotoDropDB
ACCESS_TOKEN_SECRET: 9****531-****-41e7-98d7-4217*****ee1
BUCKET_NAME: photo-drop-images
WATERMARK_KEY: watermark/Watermark.png key to s3 file